body {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.border-div{
  background-color: #0c0a0a;
  padding: 5rem;
  border-radius: 4rem;
}

.container {
  padding: 2rem 3rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.header-color{
  color: #ff5c35;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
  color: #0a2e5c;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #333;
}

input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

button {
  width: 100%;
  padding: 0.75rem;
  background-color: #ff5c35;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.note {
  text-align: center;
  margin-top: 1rem;
  color: #666;
}
